target/
project/project/
.idea/
.history
.metadata
.project
**/target/
**/**/target/
**/*.iml
logs/
tmp/
dist/
*-dev.conf
*-dev.xml
.cache
var/
RUNNING_PID
src/main/resources/VERSION.NFO
**/node_modules/
/scripts/ssl/mqttclient.*
/scripts/ssl/mqttserver.*
/main/public/uploaded_file
Californium.properties
package-lock.json
.sbtopts

# macOS
.DS_Store
**/.DS_Store